html, body {
    max-width: 400px;
    background-color:azure;
    margin: 10px;
    padding: 0;
    font-family: Courier New, Courier, monospace;
    text-align: center;
}

h1 {
    color: coral;
    
}

h3 {
    font-size: 8px;
}

button {
    color: navajowhite;
    border: dashed;
    background-color: coral;
    border-radius: 15px;
    cursor: crosshair;
    
}

button:hover {
    color: coral;
    border: solid;
    background-color: navajowhite;
    font-style: strong;
}

img {
    margin-top: 20px;
    width: 50px;
}

img:hover {
    border: dashed red;
}
sup {
    max-width: 10px;
    font-size: 4px;
    font-style: italic;
}
p {
    background: yellow;
}